#skill
{
	width: 90%;
	height: 90%;
	padding: 20px;
}

#skill ul
{
	list-style: none;
}
#skill ul li
{
	width: 100%;
	margin: 5px;
}
#skill ul li div
{
	text-align: center;
	color: white;
}
#html div
{
	background-color: orange;
	width: 90%;
	animation: html 2s;
}
@keyframes html
{
	0% {width: 0%}
	50% {width: 100%}
	100% {width: 90%}
}
#css div
{
	background-color: blue;
	width: 70%;
	animation: css 2s;
}
@keyframes css
{
	0% {width: 0%}
	50% {width: 100%}
	100% {width: 70%}
}
#js div
{
	background-color: #f5d442;
	width: 80%;
	animation: js 2s;
}
@keyframes js
{
	0% {width: 0%}
	50% {width: 100%}
	100% {width: 80%}
}
#jquery div
{
	background-color: #3481ad;
	width: 30%;
	animation: jquery 2s;
}
@keyframes jquery
{
	0% {width: 0%}
	50% {width: 100%}
	100% {width: 30%}
}
#php div
{
	background-color: purple;
	width: 55%;
	animation: php 2s;
}
@keyframes php
{
	0% {width: 0%}
	50% {width: 100%}
	100% {width: 55%}
}
#mysql div
{
	background-color: #a1bbff;
	width: 70%;
	animation: mysql 2s;
}
@keyframes mysql
{
	0% {width: 0%}
	50% {width: 100%}
	100% {width: 70%}
}
