@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
*
{
	padding: 0px;
	margin: 0px;
	font-family: 'Oswald', sans-serif;
}
body
{
	background-color: white;
}

/*##### Loading Screen #####*/
#loading-screen
{
	width: 100%;
	height: 100vh;
	background-color: white;
	z-index: 1;
	position: fixed;
	top: 0px;
	left: 0px;
}
#loading
{
	width: 100%;
	height: 100%;
	position: relative;
}
#loading-box
{
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
#loading-circle
{
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	border: 3px dashed black;
	animation: loading 2s infinite;
}

@keyframes loading
{
	from{transform:rotate(0deg);}
	to{transform:rotate(360deg);}
}

/*##### Landing box #####*/
#landing-bg
{
	background-color: white;
	width: 100%;
	height: 100vh;
	position: relative;
	background-image: url('../media/bg.jpg');
	background-size: cover;
}
#landing-box
{
	width: 300px;
	height: 500px;
	background-color: white;
	
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	border-radius: 20px;
	
	-webkit-box-shadow: 0px 0px 11px 5px rgba(0,0,0,0.53);
	-moz-box-shadow: 0px 0px 11px 5px rgba(0,0,0,0.53);
	box-shadow: 0px 0px 11px 5px rgba(0,0,0,0.53);
}
#page-buttons
{
	float: left;
	width: 29.5%;
	height: 100%;
	border-right: 1px solid black;
}
#page-buttons ul
{
	list-style: none;
	height: 100%;
	display: flex;
	flex-direction: column;
}
#page-buttons ul li
{
	height: 33.3333%;
	padding-top: 50%;
	font-size: 20px;
	background-color: white;
	border: 1px solid black;
	-webkit-box-shadow: inset 0px 0px 12px 1px rgba(0,0,0,0.39);
	-moz-box-shadow: inset 0px 0px 12px 1px rgba(0,0,0,0.39);
	box-shadow: inset 0px 0px 12px 1px rgba(0,0,0,0.39);
}
#page-buttons ul li:first-child
{
	border-radius: 20px 0px 0px 0px;
}
#page-buttons ul li:last-child
{
	border-radius: 0px 0px 0px 20px;
}
.active
{
	-webkit-box-shadow: inset 0px 0px 0px 0px !important;
	-moz-box-shadow: inset 0px 0px 0px 0px !important;
	box-shadow: inset 0px 0px 0px 0px !important;
  border: 3px solid black !important;
}

#pages
{
	border-radius: 0px 20px 20px 0px;
	float: right;
	width: 70%;
	height: 100%;
	background-color: white;
	position: relative;
	-webkit-box-shadow: inset 0px 0px 12px 1px rgba(0,0,0,0.39);
	-moz-box-shadow: inset 0px 0px 12px 1px rgba(0,0,0,0.39);
	box-shadow: inset 0px 0px 12px 1px rgba(0,0,0,0.39);
}
.page
{
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	border-radius: 20px;
	display: none;
}

/*##### Welcome page #####*/
#welcome
{
	background-color: white;
	width: 90%;
	height: auto;
	color: black;
	overflow-y: hidden;
}
#header
{
	font-size: 30px;
	font-weight: bold;
	border-bottom: 1px solid black;
}
#intro
{
	font-size: 18px;
}
@keyframes welcome
{
	from{height:0%;border-radius:0px;}
	to{height:40%;border-radius: 20px;}
}

/*##### Skill page #####*/
#skill
{
	width: 90%;
	height: 90%;
	padding: 20px;
	overflow: auto;
}
#skill::-webkit-scrollbar {
  display: none;
}
#skill ul
{
	list-style: none;
}
#skill ul li
{
	width: 100%;
	margin: 5px;
}
#skill ul li div
{
	text-align: center;
	color: white;
}

/*##### Social Page #####*/
#social
{
	width: 90%;
	height: 90%;
	padding: 20px;
}

#social ul
{
	list-style: none;
	width: 100%
}

#social ul a
{
	text-decoration: none;
}

#social ul li
{
	padding: 4px;
	transition: 1s;
	margin-top: 5px;
	width: 100%;
}

#social ul li:hover
{
	-webkit-box-shadow: inset 0px 0px 12px 1px rgba(0,0,0,0.39);
	-moz-box-shadow: inset 0px 0px 12px 1px rgba(0,0,0,0.39);
	box-shadow: inset 0px 0px 12px 1px rgba(0,0,0,0.39);
	border-radius: 5px;
}

#social ul li div
{
	font-size: 30px;
	display: inline-block;
}


#social img
{
	width: 20%;
	aspect-ratio: 1;
}

#github img
{
	animation: spin 1s;
}

#github div
{
	color: black;
	animation: github 1s;
}
@keyframes github
{
	from{
		transform: translateX(-50%);
		opacity: 0;
	}
	to{
		transform: translateX(0px);
		opacity: 1;
	}
}

#youtube img
{
	animation: spin 1s;
	width: 25%;
	aspect-ratio: 1;
}

#youtube div
{
	color: red;
	transform: translate(0px,-10px);
	animation: youtube 1s;
}

@keyframes youtube
{
	from{
		transform: translate(-50%,-10px);
		opacity: 0;
	}
	to{
		transform: translate(0px,-10px);
		opacity: 1;
	}
}

#codewars
{
	height: 25px;
	background-image: url(https://www.codewars.com/users/COOLRAPTOR08/badges/micro);
	background-size: contain;
	background-repeat: no-repeat;
	animation: codewars 1s;
}

@keyframes codewars
{
	from{
		transform: translateY(-50%);
		opacity: 0;
	}
	to{
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes spin
{
	from{transform: rotate(360deg)}
	to{transform: rotate(0deg)}
}
